python-jose[cryptography]
telegram
fastapi
uvicorn
sqlalchemy
aiosqlite
pydantic-settings
python-dotenv
httpx
asyncpg
google-generativeai
beautifulsoup4
passlib[bcrypt]
python-multipart
bcrypt==4.0.1
# Dev / testes
pytest
pytest-anyio
anyio[trio]
